.notescont {
  width: 75vw;
  height: 100vh;
  background-color: var(--primary);
  /* border: 2px solid red; */
  overflow: hidden;
}
.heading {
  background-color: var(--white);
  height: 15vh;
  /* border: 2px solid red; */
  z-index: 10;
  padding: 1.5%;
  display: flex;
  gap: 1rem;
}

.textarea {
  background-color: var(--white);
  /* border: 2px solid red; */
  z-index: 10;
  height: 32vh;
  margin: 52vh auto 0 auto;
  padding: 1% 1% 1% 2%;
  position: absolute;
  bottom: 1vh;
}
#enternotes {
  height: 28vh;
  width: 72vw;
  padding: 1%;
  font-size: 1.2rem;
  color: var(--grey);
  resize: none;
  border: none;
  outline: none;
}

#enter {
  width: 2rem;
  position: absolute;
  right: 3vw;
  bottom: 5vh;
}
.usernotes {
  color: black;
  font-weight: 500;
  /* border: 2px solid green; */
  height: 60vh;
  padding: 1%;
  background-color: var(--primary);
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightcoral;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}
.note {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.notetext {
  /* border: 2px solid yellow; */
  margin: auto 40vw auto auto;
  margin-top: 2rem;
  width: 4rem;
}
.notetime {
  /* border: 2px solid purple; */
  width: 6rem;
  margin: 3vh auto auto 6vw;
  font-size: 0.8rem;
}
.groupLogo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  padding: 1%;
  font-size: 1.5rem;
  color: #ffffff;
  text-transform: uppercase;
}
.groupInfo {
  font-size: 1.8rem;
  padding: 0.5%;
}

/* mobile view */

@media screen and (max-width: 550px) {
  .notescont {
    width: 100vw;
  }
  .heading {
    padding: 2%;
    padding-left: 3.2rem;
  }
  .groupLogo {
    width: 60px;
    height: 60px;
    font-size: 2rem;
    text-align: center;
    padding: 2%;
  }
  .groupInfo {
    font-size: 1.8rem;
    padding: 1%;
  }
  .textarea {
    height: 70vw;
    position: absolute;
    width: 100vw;
    padding: 3% 1% 3% 4%;
  }
  #enternotes {
    width: 90vw;
    padding: 3%;
    height: 20vh;
    font-size: 1.2rem;
    height: 25vh;
  }
  #enter {
    width: 1.5rem;
    position: absolute;
    right: 15vw;
    top: 20vh;
  }
  .usernotes {
    padding: 3%;
  }
}
/*  */
